# Datat types in python
1.python have 3 data types
2.int(integer)
3.str(string)
4.float(decimals)

In [1]:
name="shivaji123"
age=25
salary=10000.25
print(name)
print(age)
print(salary)

shivaji123
25
10000.25

In [1]:
data="120"
print(data)
print(type(data))

120
<class 'str'>

In [2]:
a=100
b="120"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
v1=100
v2=100.25
print(v1+v2)

200.25