# iterations in python 
1.iterations means loop to work with repeatative task or repeatative performances
2python have two types of iterations
3. for loop
4.while loop

```python- for loop
for iter_variable in squence:
print("for is keyword to start the for the loop")
print("iter_variable is one type of variable to iterate data from squence")
print("in is keyyword to validate squence is present or not")
print("squence is a collection like range ,list , strings,tuple,,...etc")


```python - while loop
while (condition)
print("while is keyword to start the iteration based on condition")
print("condition is true then executed inside statement")

In [1]:
# write a program to print 1 to 50 numbers using for loop?
for num in range(1,51):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [2]:
# write a program to iterate name using for loop
name="shivaji"
for char in name:
    print(char)

s
h
i
v
a
j
i

In [4]:
# write a program to find the even numbers in between 100 to 150 using for loop
for n in range(100,151):
    if (n%2==1):
        print(n,end=",")

101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,

In [6]:
# write a program to read name from list using for loop
names=["vikas","shivaji",'aditya','chandra']
for n in names:
    print("my name is",n)

my name is vikas
my name is shivaji
my name is aditya
my name is chandra

In [ ]:
#1 write a program to find the sum of all numbers in between 1 to 100 using for loop
#2 write a program to find the sum of all even  numbers in between 1 to 50 using for loop 
#3write a program to find the sum of all odd numbers in between 1 to 50  using for loop

In [1]:
# write a program to print 1 to 100 numbers using for loop and while loop?
for num in range(1,101):
    print(num,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [2]:
sn=1
en=100
while (sn<=en):
    print(sn,end=",")
    sn=sn+1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [9]:
sn=500
en=700
while (sn<=en):
    if (sn%2==0):
        print(sn,end=",")
    sn=sn+1

500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,602,604,606,608,610,612,614,616,618,620,622,624,626,628,630,632,634,636,638,640,642,644,646,648,650,652,654,656,658,660,662,664,666,668,670,672,674,676,678,680,682,684,686,688,690,692,694,696,698,700,

In [10]:
# write a program to print even numbers in between 500 to 700 using for loop & while loop?
for n in range(500,701):
    if (n%2==0):
        print(n,end=",")

500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,602,604,606,608,610,612,614,616,618,620,622,624,626,628,630,632,634,636,638,640,642,644,646,648,650,652,654,656,658,660,662,664,666,668,670,672,674,676,678,680,682,684,686,688,690,692,694,696,698,700,

In [11]:
#  write a program to print sum of all even numbers and odd numbers using for loop and while loop?
se=0
for i in range(1,101):
    if (i%2==0):
        se=se+i
print("sum of all even numbers is",se)

sum of all even numbers is 2550

In [3]:
sn=1
en=100
se=0
while (sn<=en):
    if (sn%2==0):
        se=se+sn
    sn=sn+1
print("sum of all even numbers is",se)

sum of all even numbers is 2550

In [4]:
sn=1
en=100
so=0
while (sn<=en):
    if (sn%2==1):
        so=so+sn
    sn=sn+1
print("sum of all even numbers is",so)

sum of all even numbers is 2500

In [5]:
so=0
for i in range(1,101):
    if (i%2==1):
        so=so+i
print("sum of all even numbers is",so)

sum of all even numbers is 2500